.page-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.auth-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    background: #acacb9;
    border-radius: 10px;
    height: 250px;
}

.auth{
    margin: auto;
    width: 100px;
    font-size: 15px;
    line-height: 6px;
    border: 1px solid black;
}

label{
    margin-top: 5px;
}

header{
    text-decoration: underline;
    vertical-align: top;
}

p {
    font-size: 12px;
    margin: auto;
}

.loading-cursor{
    cursor: wait;
}