.chart-name{
    margin-left: 60px;
    justify-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.charts-container{
    display: flex;
    flex-wrap: wrap;
}

.chart{
    flex: 0 0 50%;
}

.home-page{
    display: flex;
    flex-direction: column;
}

#home-info{
    align-self: center;
    width: 14%;
}