* {
    padding: 0;
    margin: 0;
}

.items {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
}

.sneaker-item {
    flex: 1 0 33%;
}

.sneaker-form {
}

.add-button {
    background-color: #acacb9;
    width: 50px;
    height: 50px;
    align-self: center;
    margin: 0 auto;
    border: none;
    border-radius: 25px;
    font-size: 30px;
}

.add-button:hover{
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 35px;
    transition: all 0.5s;
}