@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.menu-container{
    display: inline-block;
    position: relative;
}

.menu-btn{
    font-family: 'Orbitron', 'Arial' ,sans-serif;
    padding: 0;
    margin-left: 30px;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
    transform: none;
}

.menu-btn-open{
    font-family: 'Orbitron', 'Arial' ,sans-serif;
    padding: 0;
    margin-left: 30px;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
    transform: none;
    text-decoration: underline;
}


.menu-btn:hover{
    text-decoration: underline;
    transform: none;
    font-size: 20px;
    border-radius: 0;
    padding: 0;
}

.menu-btn-open:hover{
    transform: none;
    font-size: 20px;
    padding: 0;
}

.dropdown{
    position: absolute;
    margin-left: 25px;
    width: 100%;
    z-index: 2;
}

.menu-list{
    list-style: none;
    background-color: #A63AD4;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

li{
    margin-top: 5px;
}