.input-field{
    display: flex;
    position: relative;
    margin: 5px;
}

.input{
    height: 30px;
    padding-left: 35px;
}

.input-image{
    top: 4px;
    position: absolute;
    align-items: center;
    left: 5px;
    width: 25px;
    height: 25px;
}