.input-field{
    display: flex;
    position: relative;
    padding: 5px;
}

.input{
    height: 30px;
    padding-left: 35px;
}

.input-image{
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 5px;
}