.item-container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    background-color: #525260;
    border-radius: 20px;
    margin: 20px 50px;
}

.form-open-container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    background-color: #525260;
    border-radius: 20px;
    margin: 20px 50px;
    opacity: 0.2;
}

.fields {
    display: flex;
    align-self: flex-start;
}

img {
    margin: 10px;
    width: 150px;
    height: 150px;
}

.item-header{
    font-size: 24px;
    align-self: center;
}
h3{
    font-size: 16px;
}
.item-fields{
    margin: auto;
}

.item-button-group{
    display: flex;
    width: 100%;
    margin-right: 10px;
}

.green-button{
    background-color: green;
    display: flex;
    align-self: flex-end;
    margin-right: 5px;
}

.image-buttons:hover{
    cursor: pointer;
}

.image-buttons{
    display: flex;
    margin-left: 10px;
}

.img-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    align-self: center;
    margin-left: 5px;
}

.sold-button{
    margin-right: 10px;
    margin-left: auto;
}

#edit-button{
    height: 20px;
    width: 20px;
    margin: 0;
}

#trash-button{
    height: 20px;
    width: 20px;
    margin: 0;
}