* {
    padding: 0;
    margin: 0;
}

.sneaker-container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 220px;
    background-color: #525260;
    border-radius: 20px;
    margin: 20px;
}

.fields {
    display: flex;
    align-self: flex-start;
}

img {
    margin: 10px;
    width: 150px;
    height: 150px;
}

.sneaker-header{
    font-size: 24px;
    align-self: center;
}
h3{
    font-size: 16px;
}
.item-fields{
    margin: auto;
}

.sold-button{
    background-color: green;
    align-self: flex-end;
    margin-top: -30px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
}