*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: #525260;
    height: 200px;
    width: 500px;
    border-radius: 8px;
}

form{
    display: flex;
    flex-direction: column;
}

.fieldset-container{
    display: flex;

}

fieldset{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 0;
    justify-content: space-evenly;
    align-items: center;
}




#upload{
     width: 200px;
     background: #acacb9;
     color: #24242A;
}

#add{
    width: 200px;
    background: #146648;
}

header{
    text-align: center;
    font-size: 25px;
}