.form-container{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: #525260;
    height: 220px;
    width: 500px;
    border-radius: 20px;
    justify-content: center;
}

.fieldset-container{
    display: flex;
}

fieldset{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 0;
}

#add{
    background: green;
}
#cancel{

    background: red;

}

.form-header{
    text-align: center;
    font-size: 25px;
}

.conf-button{
    margin: 5px;
    height: 35px;
    width: 150px;
    line-height: 10px;
    border-radius: 8px;
    border: none;
    align-self: flex-end;
}